{% load staticfiles %}
<script type="text/javascript" src="{% static "elevennote/note.js" %}"></script>

<!-- <div class="container-fluid"> -->
    <style type="text/css">
      ul.detail { display: block; padding:15px; }
      ul.detail li { display: inline-block; }
      #data p {margin-left: 15px;}
    </style>
    {{ form.media }}
<form id="data" onsubmit="save_new_();return false">
  <div class="row">
    <div class="col">
     
      {% csrf_token %}
      <input type="text" name="title" required="" id="id_title" value="New Note">
    </div>
    <div class="col">
      <ul class="detail">
        <li>
          <a aria-label="Delete" class="btn btn-default" href="#" onclick="save_new_()"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
        </li>
        <li>
          <a aria-label="Close" class="btn btn-default" href="#" onclick="close_({{ note.pk }})"><i aria-hidden="true" class="fa fa-times"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
  </div>
  <div class="row"> 
    {{ form.body }}

  </div>
</form>
<!-- </div> -->
