{% extends "base.html" %}


{% block content %}

{% if object %}
<form action="{% url 'notes:delete' object.pk %}" method="post" id="delete-note-form">
    {% csrf_token %}
    <a class="btn btn-outline-dark" id="delete-note" onclick="this.parentElement.submit()">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
</form>
{% endif %}



{% if object %}
<form action="{% url 'notes:update' object.pk %}" method="post" accept-charset="utf-8">
{% else %}
<form action="{% url 'notes:create' %}" method="post" accept-charset="utf-8">
{% endif %}

    {% csrf_token %}
    {% include 'includes/bs4_form.html' %}

    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-success" type="submit" value="Submit"/>
</form>

{% endblock %}


